extends ./layouts/default.jade

block body
  h1 Low tide

  section(id='react-app')= markup

  script(id='initial-state' type='application/json')

  //- <section id="react-app">{{{ markup }}}</div>
  //- <script id="initial-state" type="application/json">{{{state}}}</script>