/*clouds #ecf0f1*/
/*light blue #3498db;*/
/*dark blue #2980b9;*/

html, body, #app-root {
  background-color: #3498db;
  color: #ecf0f1;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  line-height: 1.33em;
  text-transform: lowercase;
}

.header {
  font-size: 1em;
  padding: .1em 0 1.5em;
  color: #ddd;
}

.header-location, .header-title {
  margin: 0;
  padding: 0;
  font-size: inherit;
  width: 49%;
}

.header-location {
  float: left;
  text-align: left;
}

.header-title {
  float: right;
  text-align: right;
  font-weight: 500;
}

.app-wrapper {
  padding: 3px;
}

.periods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  clear: both;
}

.period {
  flex: 1 0 auto;
  min-width: 7em;
  background-color: #2980b9;
  padding: 1em 0;
  margin: 1px;
}

/*.period.active {
  color: red;
  flex: 8 0 auto;
}*/

h1 {
  margin: 1em 0;
}

.btn {
  font-size: 1em;
  padding: .5em;
  border: 1px solid #666;
  cursor: pointer;
}

.navigation-menu {
  display: none;
}

.navigation-menu button:first-child {
  margin-right: 1em;
}

.btn.disabled {
  cursor: default;
  pointer-events: none;
}

#zip-input.visible {
  display: block;
}


div, p {
  color: inherit;
}


p {
  margin: 0;
  padding: 0;
}