body {
  background-color: #999;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'helvetica neue', sans-serif;
}

#app-root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 1em 0;
}

.prediction-list {
  margin: auto;
  line-height: 1.33em;
}

.prediction {
  display: none;
}

.prediction.active {
  display: block;
}

.prediction-component {

}

.prediction-component.tide {

}

.prediction-component.timestamp {

}

.btn {
  font-size: 1em;
  padding: .5em;
  border: 1px solid #666;
  cursor: pointer;
}

.navigation-menu button:first-child {
  margin-right: 1em;
}

.btn.disabled {
  cursor: default;
  pointer-events: none;
}
